*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #141414;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
  h1 {
	color: #eee;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 12px;
  }

  ul {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
  }

  ul li p:first-child {
	font-size: 18px;
	color: #ccc;
	font-weight: bold;
  }

  ul li p:nth-child(2) {
	font-size: 14px;
	color: #aaa;
  }
}
